body {
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.C-9ngsvI3fIlqjPadzcx9QHaEK&pid=Api&P=0&h=180');
    margin: 0;
    padding: 0;
  }

  h1{
  color: #d69318;
  text-align: center;
  border: 1px solid #dba1a1;
  border-radius: 50px;
  padding: 15px;
  }
  
  .counter-app {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
  }
  
  .count {
    font-size: 3rem;
    color: #ee8282;
    margin-bottom: 15px;
  }
  
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #865911;
    background: linear-gradient(45deg, #d75674, #ff4b2b);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 75, 43, 0.75);
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
  }
  
  .increment-btn {
    background: linear-gradient(45deg, #fcfbfb, #c4f37a);
    box-shadow: 0 4px 15px rgba(193, 115, 36, 0.75);  
  }
  
  .increment-btn:hover {
    box-shadow: 0 5px 20px rgb(181, 166, 36);
  }
  
  .increment-btn:active {
    box-shadow: 0 3px 10px rgba(255, 61, 0, 0.5);
  }
  
  .decrement-btn {
    background: linear-gradient(45deg, #fcfbfb, #c4f37a);
    box-shadow: 0 4px 15px rgba(193, 115, 36, 0.75);  
  }

  .decrement-btn:hover{
    box-shadow: 0 5px 20px rgb(181, 166, 36);

  }

   .decrement-btn:disabled{
    background: linear-gradient(45deg, #fcfbfb, #c4f37a);
    box-shadow: 0 4px 15px rgba(193, 115, 36, 0.75);  
    color: #454343;
   }

  .reset-btn {
    background: linear-gradient(45deg, #fcfbfb, #c4f37a);
    box-shadow: 0 4px 15px rgba(193, 115, 36, 0.75);  
  }
  
  .reset-btn:hover {
    box-shadow: 0 5px 20px rgb(181, 166, 36);
  }
  
  .reset-btn:active {
    box-shadow: 0 3px 10px rgba(255, 61, 0, 0.5);
  }
  